<nav class="navbar navbar-expand-lg ">
    <div class="container">
      <div class="navbar-brand"><img class="logo-img" src='../../../assets/images/logo.png' alt=""/></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Cart</a>
          </li>
          <li class="nav-item nav-btns ">
            <a class="nav-link nav-btn " routerLink="#">Log In</a>
          
            <a class="nav-link  nav-btn"  routerLink="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>